<h1>About me</h1>
<p>I'm a Norwegian freelancer, living in Denmark. Currently working as a software tester/QA on a speech recognition project.</p>
<p>This will be a blog about my life as a freelancer. My stories about the challenges with frequent travel, and working from home, as well as tips on how to make freelancing easier for your self. Everything from where to stay, to what gear to bring and how to set it up properly at home and in a hotel.</p>