<div class="jumbotron">
    <div class="container">
        <h1>Travel gear, travel and hotel reviews</h1>   
    </div>
</div>
<div class="container">
 This is site for traveling consultants, freelancers, digital nomades and traveles in general. Review your stay, the travel there or the gear you brought with you. A simple "yes", meaning I'll keep it or do it again, or "no" - as in not doing that twice.
</div>
